<p>
  <b>Client name:</b>
  <%=h @client.client_name %>
</p>

<p>
  <b>Client code:</b>
  <%=h @client.client_code %>
</p>

<p>
  <b>Restaurant phone:</b>
  <%=h @client.restaurant_phone %>
</p>

<p>
  <b>Restaurant code:</b>
  <%=h @client.restaurant_code %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>