<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HEAD>
  <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="TEXT/HTML; charset=UTF-8">
  <TITLE>TMF Console</TITLE>
</HEAD>
<BODY>
  <% if @clients.blank? %>
  <p>There are no clients of the system.</p>
  <% else %>

  <table id="clients" width="100%">
    <tr>
      <th>facility</th>
      <th>facility phone</th>
      <th>client name</th>
      <th>client code</th>
      <th>status</th>
      <th>time since last poll</th>
    </tr>
    <% @clients.each do |c| %>
    <tr>
      <td nowrap><%= c.restaurant_name %></td>
      <td><%= c.restaurant_phone %></td>
      <td><%= c.client_name %></td>
      <td align=center><%= c.client_code %></td>
      <td align=center><%= CnslHelper.html_colorize_status(c.status) %></td>
      <td><%= CnslHelper.time_in_words_to_now(c.last_polled) ||
	      distance_of_time_in_words_to_now(c.last_polled) %></td>
    </tr>
    <% end %>
  </table>
  <% end %>
  <!-- <p><%= link_to "Add new Client", {:action => 'new' }%></p> -->
</BODY>
